<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas</title>
    <link rel="icon" href="{{ url_for('static', filename='images/face.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}" />
    <script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    <script>
        let imageId = '{{ imageId }}';
        let unknown_person_icon = "{{ url_for('static', filename='images/unknown.png') }}";
        let datas = [];
    {% for face in faces %}
        {
            const item = {};
            item.pos_top = {{ face.pos_top }};
            item.pos_right = {{ face.pos_right }};
            item.pos_bottom = {{ face.pos_bottom }};
            item.pos_left = {{ face.pos_left }};
            item.peopleIdRecognized = '{{ face.peopleIdRecognized }}';
            item.peopleIdAssign = '{{ face.peopleIdAssign }}';
            item.peopleId = '{{ face.peopleId }}';
            item.peopleName = '{{ face.peopleName }}';
            item.shortName = '{{ face.shortName }}';
            item.source = 'db'
            datas.push(item);
        }
    {% endfor %}
        let datas_backup = []
        for(var i=0;i<datas.length;i++){
            datas_backup.push(datas[i]);
        }

        function init() {
            initDraw(document.getElementById('canvas'));
            window.scrollTo(0,0);
            console.log("initiated " + datas.length + " tags");
            fetchQueryResult("people");
        }
    </script>
</head>
<body onload="init();">
    <div id="canvas">
        <img id="img" src="/view?file={{ file_path }}" alt="image_with_faces_tagged"/>
    </div>
    <div id="canvasSidenav" class="sidenav">
      <a href="#" id="navUntagAll" onclick="untag_all()">Untag ALL</a>
      <a href="#" id="navHideTags" onclick="hide_tags()">Hide Tags</a>
      <a href="#" id="navShowTags" onclick="show_tags()">Show Tags</a>
      <a href="#" id="navRestore" onclick="restore_tags()">Restore</a>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Tag this face</h2>
        </div>
        <div class="modal-body">
            <div id="preview">
                <canvas id="preview_canvas"></canvas>
            </div>
            <div id="personIcon">
                <img id="personIconImg" src="{{ url_for('static', filename='images/unknown.png') }}" width="80" height="80" alt="face">
            </div>
            <div id="controls">
                <p>
                    <div class="autocomplete" style="width:220px;">
                        <input id="person" type="text" name="person" placeholder="Key in the name">
                    </div>
                    <div id="divTag">
                        <input type="button" onclick="tag_it()" value="Tag it" style="width: 60px;">
                    </div>
                </p>
                <p>
                    <div id="divPersonName">
                        <input id="personName" type="text" name="personName" placeholder="Name">
                    </div>
                    <div id="divShortName">
                        <input id="shortName" type="text" name="shortName" placeholder="Nick name">
                    </div>
                    <div id="divUntag">
                        <input type="button" onclick="untag_it()" value="Untag" style="width: 60px;">
                    </div>
                </p>
                <p id="message"></p>
            </div>
        </div>
      </div>

    </div>
</body>
</html>