<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Face Club</title>
    <link rel="icon" href="{{ url_for('static', filename='images/face.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/json2table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
</head>
<body>
	<h3>
    	Click the button to create a dynamic table using data extracted from a JSON array.
    </h3>
    <input type='button' onclick='fetchQueryResult("health")'
    	value='Health Check' />
    <input type='button' onclick='fetchQueryResult("job_status")'
    	value='Job Status' />
    <input type='button' onclick='fetchQueryResult("copy_images")'
    	value='Copy Images To Workspace' />
    <input type='button' onclick='fetchQueryResult("list_faces")'
    	value='List Faces in Workspace' />
    <input type='button' onclick='fetchQueryResult("list_dataset_people")'
    	value='List Dataset People' />
    <input type='button' onclick='fetchQueryResult("list_dataset_files")'
    	value='List Dataset Files' />
    <input type='button' onclick='fetchQueryResult("list_dataset_backups")'
    	value='List Dataset Backups' />
    <input type='button' onclick='fetchQueryResult("list_model_backups")'
    	value='List Model Backups' />

    <p id='showData'></p>

    <p id='msg'></p>
</body>

</html>